body {
	background-color: black;
	color: green;
	font-family: arial, sans-serif;
}

#parrafo1 {
	display: inline-block;
	color: white !important;
	font-weight: bold;
	margin: 0 0 0 10px;
}

#imagen1 {
	width: 140px;
	height: 70px;
}

#imagen2 {
	width: 450px;
	height: auto;
}

a {
	color: white;
}